<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<HubCo_ProductOverwriteLock>
			<version>0.0.1</version>
		</HubCo_ProductOverwriteLock>
	</modules>
	<global>
    <helpers>
      <hubco_productoverwritelock>
        <class>HubCo_ProductOverwriteLock_Helper</class>
      </hubco_productoverwritelock>
    </helpers>
		<models>
			<hubco_productoverwritelock>
				<class>HubCo_ProductOverwriteLock_Model</class>
			</hubco_productoverwritelock>
		</models>
		<resources>
			<hubco_productoverwritelock_setup>
				<setup>
					<module>HubCo_ProductOverwriteLock</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</hubco_productoverwritelock_setup>
		</resources>
	</global>
  <adminhtml>
    <acl>
      <resources>
        <admin>
          <children>
            <system>
              <children>
                <config>
                  <children>
                    <productoverwritelock_options>
                      <title>Product Attribute Lock</title>
                    </productoverwritelock_options>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>
  </adminhtml>
</config>